@using KMPRazorMix
<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,300' rel='stylesheet' type='text/css' />
    <link href="/content/style.min.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/content/favicon.ico">
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <section id="centralColumn">
        <section id="header">
            <h1>
                <a href="/">Kerbal MP</a>
            </h1>
            <h2>
                <a href="/Downloads">Download</a>
            </h2>
            <h2>
                <a href="/Servers">Servers</a>
            </h2>
            <h2>
                <a href="/Readme">Readme</a>
            </h2>
            <h2>
                <a href="/FAQ">FAQ</a>
            </h2>
            <h2>
                <a href="http://www.github.com/TehGimp/KerbalMultiPlayer">Source</a>
            </h2>
        </section>

        <section id="content">
            @RenderBody()
        </section>

        <section id="footer">
            Page generated at @DateTime.Now.ToString("hh:mm tt"), KMP information last updated at @KMP.LastUpdate.ToString("hh:mm tt")@{Write(KMP.CurrentlyUpdating ? ", Information is currently updating." : "."); }
        </section>
    </section>
</body>
</html>
