@using KMPRazorMix
@{
    Page.Title = "Download";
    Layout = "~/_Layout.cshtml";
}

<p>
    KMP release builds can be downloaded from spaceport. 
</p>
<ul id="downloads">
    <li>KMP <a href="@KMP.ClientDownload">Client</a> Version @KMP.KMPVersion for KSP @KMP.KSPCompatibleVersion
    </li>

    <li>KMP <a href="@KMP.ServerDownload">Server</a> Version @KMP.KMPVersion
    </li>
</ul>
<p>
    Development builds can be downloaded from <a href="http://chrisand.no-ip.info:82/kmp/">godarklight's development build server</a>.
</p>
<fieldset id="changelog">
    <legend>Version @KMP.KMPVersion Changelog</legend>
    @{ WriteLiteral(KMP.Changelog); }
</fieldset>
