@using KMPRazorMix
@{
    Page.Title = "Download";
    Layout = "~/_Layout.cshtml";
}

<p>
    KMP releases can be downloaded from spaceport. <br />
    @KMP.ChangelogSummary
</p>
<ul id="downloads">
    <li>
        <a href="@KMP.ClientDownload">
            <img src="/content/kmpclient.png" /><br/>
            KMP Client Version @KMP.KMPVersion for KSP version @KMP.KSPCompatibleVersion
        </a>
    </li>

    <li>
        <a href="@KMP.ServerDownload">
            <img src="/content/kmpserver.png" class="floatRight" /><br/>
            KMP Server Version @KMP.KMPVersion
        </a>
    </li>
</ul>
<p>
    Development builds can be downloaded from <a href="http://chrisand.no-ip.info:82/kmp/">godarklight's development build server</a>.
</p>
<fieldset id="changelog">
    <legend>Version @KMP.KMPVersion Changelog</legend>
    @{ WriteLiteral(KMP.Changelog); }
</fieldset>
