@using KMPRazorMix
@{
    Layout = "~/_Layout.cshtml";
    if (Request.QueryString["server"] == null || !KMP.Servers.Exists(s => s.Address == Request.QueryString["server"]))
    {
        //If no query string or server doesn't exist, redirect.
        Response.Redirect("/");
    }
    var server = KMP.Servers.FirstOrDefault(s => s.Address == Request.QueryString["server"]);

    Page.Title = server.Information;
    
}
<h1>@server.Information</h1>

<table>
    @{
        if (server.IsOnline)
        {
            <tr><td>Address</td><td>@server.Address</td></tr>

            <tr><td>Version</td><td>@server.Version</td></tr>

            <tr><td>Players</td><td>@server.Players/@server.MaxPlayers</td></tr>

            if (server.Players > 0)
            {
                <tr><td>Players</td><td>@string.Join(", ", server.PlayerNames)</td></tr>
            }

            <tr><td>HTTP Port</td><td><a href="http://@server.IP:@server.HTTPPort">@server.HTTPPort</a></td></tr>

            <tr><td>Whitelisted</td><td>@server.Whitelisted</td></tr>
        }
        else
        {
            Response.Redirect("/Servers");
        }
    }
</table>